:root{
    --cor-linha: rgb(249, 194, 91);
    --cor-fundo: rgba(0, 0, 0, 0.8);
    --cor-texto: rgb(249, 194, 91);
    --cor-textoo: rgb(0, 0, 0);
    --imagem-fundo: url('background.png')
}

body, html{
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding: 0;
    margin: 0;
    height: 100%;
    background-image: var(--imagem-fundo);
    z-index: -2;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(5px);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: 0.3s ease;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-bottom: 4px solid rgb(249, 194, 91);
    transition: 0.5s ease;
}

main{
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.123);
    color: var(--cor-textoo);
    padding: 10px;
    color: rgb(0, 0, 0);
    pointer-events: none;

}

footer{
    backdrop-filter: blur(10px);
    color: var(--cor-texto);
    background-color: var(--cor-fundo);
    padding: 10px;
    border-top: 4px solid rgb(249, 194, 91);
    transition: 0.5s ease;
}

nav{
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 15px;
}

.desfoque{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid rgb(249, 194, 91);
  left: -100px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(255, 250, 250);
  padding: 12px 16px;
  background-color: rgb(30, 22, 7);
  text-decoration: none;
  width: 100%;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(255, 166, 0);

}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  background-color: transparent;
  color: rgb(249, 194, 91);
  padding: 16px;
  font-size: 16px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.navegation{
    position: relative;
    text-decoration: none;
    color: rgb(249, 194, 91);
    font-weight: bolder;
    width: max-content;
    transition: 0.3s ease;
}

.navegation::after{
    content: '';
    background-color: var(--cor-linha);
    width: 0%;
    height: 1.5px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.3s;
}

.navegation:hover::after{
    width: 100%;
}

.titulo{
    text-align: center;
    color: rgb(249, 194, 91);
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px 5px;
    border-style: dotted;
}

.resumo{
    text-align: justify;
}

.modo{
    cursor: pointer;
    padding: 15px;
    background-color: transparent;
    border: none;
    transition: 0.3s ease;
}